
<div class="container">

  <div class="card bg-success text-center">
      <div class="card-body">
        <div class="row">
          <span class="col-sm-4">
            <img src="/assets/user.png" />
          </span>
          <span class="col-sm-8">
            <h5 class="card-title">Nishant Shakya</h5>
            <p class="card-text">
              <button class="btn btn-warning principle">1</button>
              <button class="btn btn-danger principle">2</button>
              <button class="btn btn-warning principle">3</button>
              <button class="btn btn-danger principle">4</button>
            </p>
          </span>
        </div>
      </div>
    </div>
    <div class="card bg-success text-center">
        <div class="card-body">
          <div class="row">
            <div class="col-sm-4">
              <img src="/assets/user.png" />
            </div>
            <div class="col-sm-8">
              <h5 class="card-title">Nishant Shakya</h5>
              <p class="card-text">
                <button class="btn btn-warning principle">1</button>
                <button class="btn btn-danger principle">2</button>
                <button class="btn btn-warning principle">3</button>
                <button class="btn btn-danger principle">4</button>
              </p>
            </div>
          </div>
        </div>
      </div>




    <div class="row">
        <div class="col-sm-6">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Special title treatment</h5>
              <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Special title treatment</h5>
              <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>
        </div>
      </div>


</div>
