.card {
  border-radius: 3px;
  margin-top: 10px;
  border-collapse: orange;
}
.user-card-image{
width: 30%;
}
.principle{
  border-radius: 45%;
  margin-left: 10px;
}
.principle{
  margin-left: 5%;
}
